<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Dog Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body data-spy="scroll" data-target="#navbarResponsive">

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Home Section --->
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div id="home">

<!--- Navigation --->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('home') }}"><i class="fas fa-dog"></i></a>
<!--    <a class="navbar-brand" href="index.html"><img src="../static/icon.png"></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#book">Reserve Now</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#login">Sign Up / Dog Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#team">Meet Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>


<!--- Start Image Slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
<!--    Slide one -->
        <div class="carousel-item active" style="background-image: url(../static/dog-hotel-article.jpg);">
            <div class="carousel-caption text-center">
                <h1>Welcome To The Happy Dog Hotel</h1>
                <h3>Where Dogs Relax</h3>
                <a class="btn btn-outline-light btn-lg" href="{{ url_for('reserve') }}">Reserve Now</a>
            </div>
        </div>
<!--    Slide 2-->
        <div class="carousel-item" style="background-image: url(../static/dog2.jpeg);"></div>
<!--    Slide 3-->
        <div class="carousel-item" style="background-image: url(../static/cane.jpeg);"></div>
<!--    Prev & Next Buttons    -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

</div> <!--- End Carousel --->
</div> <!--- End Home --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Booking Section --->
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div id="book" class="offset">

<div class="jumbotron container-fluid">

    <div class="col-12 text-center">
        <h3 class="heading">Reserve Now</h3>
        <div class="heading-underline"></div>
    </div>

<div class="row no-padding">

    <div class="col-sm-4">
        <div class="booking">
            <a href="../static/room1.jpg" target="_blank">
                <img src="../static/room1.jpg">
            </a>
        </div>
        <p class="room text-center">
            Afforadable.
        </p>
    </div>

    <div class="col-sm-4">
        <div class="booking">
            <a href="../static/room2.jpg" target="_blank">
                <img src="../static/room2.jpg">
            </a>
        </div>
        <p class="room text-center">
            Amenable.
        </p>
    </div>

    <div class="col-sm-4">
        <div class="booking">
            <a href="../static/room3.jpg" target="_blank">
                <img src="../static/room3.jpg">
            </a>
        </div>
        <p class="room text-center">
            Exclusive.
        </p>
    </div>

    <div class="narrow text-center">
        <div class="col-12">
            <p class="lead">Ready to make a reservation?</p>
            <a class="btn btn-secondary btn-md" href="{{ url_for('reserve') }}">Reserve Now</a>
        </div>
    </div>

</div> <!--- End Row --->
</div> <!--- End Jumbotron --->

</div> <!--- End Booking Section --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start LogIn Section --->
<div id="login" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->

    <div class="col-12 text-center">
        <h3 class="heading">Sign Up / Sign Up Dog</h3>
        <div class="heading-underline"></div>
        <p class="text-center">Hey! Sign yourself as a user and then your dogs.</p>
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-secondary btn-md" href="{{ url_for('register') }}">Sign Up</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-secondary btn-md" href="{{ url_for('register_dog') }}">Sign Up Dog</a>
            </div>
        </div>
    </div>


</div> <!--- End LogIn Section --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Team Section --->
<div id="team" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->

    <div class="col-12 text-center">
        <h3 class="heading">Meet Team</h3>
    <div class="heading-underline"></div>
    </div>

<!--- Start the row containing the team member images --->
<div class="row padding">

    <!--- Card 1 --->
    <div class="col-md-6">
        <div class="card text-center">
            <img class="card-img-top" src="../static/person1.jpg">
            <div class="card-body">
                <h4>Andres Potapczynski</h4>
                <p>I love 'em dogs</p>
            </div>
        </div>
    </div> <!--- End of Card 1 --->

    <!--- Card 2 --->
    <div class="col-md-6">
        <div class="card text-center">
            <img class="card-img-top" src="../static/lupillo.jpeg">
            <div class="card-body">
                <h4>Lupillo</h4>
                <p>I like treats!</p>
            </div>
        </div>
    </div> <!--- End of Card 2 --->

</div> <!--- End the row containing the team member images --->

</div> <!--- End Team Section --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Contact Section --->
<div id="contact" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<footer>
    <div class="row justify-content-center">
        <div class="col-md-5 text-center">
            <a><i class="fas fa-dog"></i></a>
            <p>At our core we are the best company to leave your dogs with</p>
            <strong>Contact US</strong>
            <p>(888) 888-8888 <br>
                email@happydoghotel.com <br>
                435 W 119th ST, NY, NY, 10027
            </p>

            <a><i class="fab fa-facebook-square"></i></a>
            <a><i class="fab fa-twitter-square"></i></a>
            <a><i class="fab fa-instagram"></i></a>
        </div>

        <hr class="socket"> &copy; Happy Dog Hotel

    </div> <!--- End of Row --->
</footer>
</div> <!--- End of Contact Section --->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS and, finally, Font Awesome! -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</body>
</html>