<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Happy Dog Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>


<body data-spy="scroll" data-target="#navbarResponsive">

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Home Section --->
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div id="home">

<!--- Navigation --->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="index.html"><i class="fas fa-dog"></i></a>
<!--    <a class="navbar-brand" href="index.html"><img src="../static/icon.png"></a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Book Room</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log In / Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Meet Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>


<!--- Start Image Slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
<!--    Slide one -->
        <div class="carousel-item active" style="background-image: url(../static/dog-hotel-article.jpg);">
            <div class="carousel-caption text-center">
                <h1>Welcome To The Happy Dog Hotel</h1>
                <h3>Where Dogs Meet</h3>
                <a class="btn btn-outline-light btn-lg">Reserve Now</a>
            </div>
        </div>
<!--    Slide 2-->
        <div class="carousel-item" style="background-image: url(../static/dog2.jpg);"></div>
<!--    Slide 3-->
        <div class="carousel-item" style="background-image: url(../static/cane.jpg);"></div>
<!--    Prev & Next Buttons    -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>

</div> <!--- End Carousel --->
</div> <!--- End Home --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Booking Section --->
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<div id="book" class="offset">

<div class="jumbotron container-fluid">

    <div class="col-12 text-center">
        <h3 class="heading">Book Now</h3>
        <div class="heading-underline"></div>
    </div>
<div class="row no-padding">
    <div class="col-sm-4">
        <div class="booking">
            <a href="../static/room1.jpg" target="_blank">
                <img src="../static/room1.jpg">
            </a>
        </div>
    </div>

    <div class="narrow text-center">
        <div class="col-12">
            <p class="lead">Already a Member?</p>
            <a class="btn btn-secondary btn-md">Sign In / Log In</a>
        </div>
    </div>

</div> <!--- End Row --->
</div> <!--- End Jumbotron --->

</div> <!--- End Booking Section --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start LogIn Section --->
<div id="login" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->

</div>

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Team Section --->
<div id="team" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->

    <div class="col-12 text-center">
        <h3 class="heading">Team</h3>
    <div class="heading-underline"></div>
    </div>

<!--- Start the row containing the team member images --->
<div class="row padding">

    <!--- Card 1 --->
    <div class="col-md-6">
        <div class="card text-center">
            <img class="card-img-top" src="../static/person1.jpg">
            <div class="card-body">
                <h4>Andres Potapczynski</h4>
                <p>I love 'em dogs</p>
            </div>
        </div>
    </div> <!--- End of Card 1 --->

    <!--- Card 2 --->
    <div class="col-md-6">
        <div class="card text-center">
            <img class="card-img-top" src="../static/person1.jpg">
            <div class="card-body">
                <h4>Lu Xiayoun</h4>
                <p>I love 'em dogs</p>
            </div>
        </div>
    </div> <!--- End of Card 2 --->

</div> <!--- End the row containing the team member images --->

</div> <!--- End Team Section --->

<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<!----- Start Contact Section --->
<div id="contact" class="offset">
<!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!----><!---->
<footer>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <p>At our core we are the best company to leave your dogs with</p>
            <strong>Contact Info</strong>
            <p>(888) 888-8888 <br> email@happydoghotel.com</p>

            <a><i class="fab fa-facebook-square"></i></a>
            <a><i class="fab fa-twitter-square"></i></a>
            <a><i class="fab fa-instagram"></i></a>
        </div>

        <hr class="socket"> &copy; Happy Dog Hotel

    </div> <!--- End of Row --->
</footer>
</div> <!--- End of Contact Section --->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS and, finally, Font Awesome! -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
</body>
</html>